/*
Name: Ashish Ali
Date Created: 7/6/26 
Date Modified: 7/10/26
Purpose: Homework 4 CSS file
*/ 

/* Changing the color of the header background*/
header 
{
    position: sticky; 
    top: 0; 
    width: 100%;
    background-color: rgb(125, 211, 202);
    transition: background-color 0.4s ease-in-out;
    z-index: 1000;
}

/* Changing the background color of the body and changing the font of the text*/
body 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 221, 202);
    margin: 0;
    height: 100%;
    min-height: 100vh;
font-family: Trebuchet MS, sans-serif;
}

form 
{
    flex-grow: 1;
}

h1, h2 
{
    text-align: center;
    font-family: Palatino, serif;
    font-weight: bold;
    flex-grow: 1;
}

main 
{
    text-align: center;
    font-family: Georgia, serif;
    font-weight: normal;
    flex-grow: 1;
}

.image 
{
    text-align: left;
}

.td1 
{
    text-align: right;
}

footer 
{
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: rgb(125, 211, 202);
}

textarea 
{
font-family: Optima, sans-serif;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.error {
    color: red;
}

.pword-message {
    text-align: right;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: red;
}

#review {
    margin-top: 5px;
}

table.output,
tr.output,
td.output {
    width: 500px;
    background-color: rgb(248, 245, 239);
    border: 2px solid rgb(125, 211, 202);
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color:black;
}

.valid {
    color: green;
    font-weight: bold;
}

.invalid {
    color: red;
    font-weight: bold;
}

.iframe-container {
    position: absolute;
    top: 35%;
    right: 15px;
    width: 25%;
    height: 100%;
    box-sizing: border-box; 
    overflow: hidden;
}

.iframe-container iframe {
    width: 95%;
    height: 25%;
    border: 1px;
}

